<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <p>A value from a dictionary: {{ mydict['key'] }}.</p>
    <p>A value froma list: {{ mylist[3] }}.</p>
    <p>A value froma list, with a variable index: {{ mylist }}.</p>
    <p>A value froman object's method: {{ myobj.somemethod() }}.</p>
</body>

</html>